@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  scroll-behavior: smooth;
}

@layer base {
 
:root  {
  --background: 204 100% 95%;
  --foreground: 204 5% 0%;
  --card: 204 50% 90%;
  --card-foreground: 204 5% 10%;
  --popover: 204 100% 95%;
  --popover-foreground: 204 100% 0%;
  --primary: 204 87.6% 52.7%;
  --primary-foreground: 0 0% 100%;
  --secondary: 204 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 166 30% 85%;
  --muted-foreground: 204 5% 35%;
  --accent: 166 30% 80%;
  --accent-foreground: 204 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 204 5% 90%;
  --border: 204 30% 50%;
  --input: 204 30% 18%;
  --ring: 204 87.6% 52.7%;
  --radius: 1rem;
}
.dark  {
  --background: 204 50% 5%;
  --foreground: 204 5% 90%;
  --card: 204 50% 0%;
  --card-foreground: 204 5% 90%;
  --popover: 204 50% 5%;
  --popover-foreground: 204 5% 90%;
  --primary: 204 87.6% 52.7%;
  --primary-foreground: 0 0% 100%;
  --secondary: 204 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 166 30% 15%;
  --muted-foreground: 204 5% 60%;
  --accent: 166 30% 15%;
  --accent-foreground: 204 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 204 5% 90%;
  --border: 204 30% 18%;
  --input: 204 30% 18%;
  --ring: 204 87.6% 52.7%;
  --radius: 1rem;
}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
